{% set slider = craft.entries.section('homeSlider').all() %}
{% if slider|length %}

<div class="slider slider-for">
					<!-- Slider Single Item -->
					{% for entry in slider %}
					<div class="slider-item slickslider">
					{% if entry.largeImage|length %}
                                {% set image = entry.largeImage.one() %}
								<img src="{{ image.getUrl() }}" alt="{{ image.title }}">
								{% endif %} 
						
						<div class="slick-caption">
							<div class="slide-table container">
								<div class="table-cell row">
									<div class="col-md-12">
										<div class="slide-content text-center text-white">
											<h2>{{entry.smallTitle}} </h2>
											<h1>{{entry.longTitle}}</h1>
											<div class="contact">
												<a href="#">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- Slider Single Item -->
				
				</div>
				<!-- Thumbnail Image -->
				<div class="thumbnail-img slider slider-nav">
				{% for entry in slider %}
				<div>
				{% if entry.smallImage|length %}
                                {% set image = entry.smallImage.one() %}
								<img src="{{ image.getUrl() }}" alt="{{ image.title }}">
								{% endif %} 
								</div>
								{% endfor %}
					
				</div>
				<!-- Thumbnail Image -->
				<!-- Slider Area End -->
				<!-- Scroll Icon -->
				<div class="scroll-icon text-center">
					<a href="#about" class="wow fadeInDown infinite animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;"><i class="icofont icofont-scroll-down"></i></a>
				</div>
				{% endif %}