<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ siteName }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
        <link rel="apple-touch-icon" href="assets/common/img/apple-touch-icon.png">
        
        <link rel="stylesheet" href="{{ ('../assets/common/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/css/icofont.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/css/shortcode/shortcodes.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/style.css') }}">
        <link rel="stylesheet" href="{{ ('../assets/common/css/responsive.css') }}">
        {% endblock %}
        <script src="{{ ('../assets/common/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
       
		
		<!-- Page Wraper Here Start -->
        <div class="page-wraper" id="main-home">
			<!-- Header Area Start -->
			<header>
            <!--- For Nav Menu -->
            {% include "_includes/common/nav" %}
            {% block slider %}
            {% endblock %}
           
            <!-- Nav menu ends -->
            </header>
            <!-- Header Area End -->

            {% block content %}
            {% endblock %}

            <footer id="contact">
				<!-- Footer Top Area End -->
				<div class="footer-area grayblack-bg">
					<div class="container">
						<!-- Footer Top Social Start -->
						<div class="row">
							<div class="col-md-12">
								<div class="footer-top">
									<div class="footer-top-img">
										<a href="index.html"><img src="assets/common/img/other/top.png" alt="" /></a>
									</div>
									<div class="footer-top-content">
										<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem accusantium doloremque antium, totam rem aperiam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan</p>
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Footer Top Social End -->
						<div class="row">
							<div class="footer-single-main pt-100 pb-65 fix">
								<!-- Footer Single Box -->
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="fotter-single-area">
										<h4>Contact Us</h4>
										<div class="contact-details">
											<ul>
												<li>
													<img src="assets/common/img/icon/c1.png" alt="" />
													<p>8901 Marmora Raod, <br> Glasgow, D04  89GR</p>
												</li>
												<li>
													<img src="assets/common/img/icon/c2.png" alt="" />
													<p>Telephone : (801) 4256456  985634 Telephone : (801) 4256456  985634</p>
												</li>
												<li>
													<img src="assets/common/img/icon/c3.png" alt="" />
													<p>Email : info@raeesdevitemsllcdh.com Web : www.raeesdevitems.com</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Footer Single Box -->
								<!-- Footer Single Box -->
								<div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-12 hidden-sm ">
									<div class="fotter-single-area">
										<h4>Our Services</h4>
										<div class="footer-menu">
											<ul>
												<li><a href="#">Architecture</a></li>
												<li><a href="#">Planning</a></li>
												<li><a href="#">Interior Design</a></li>
												<li><a href="#">Exterior Design</a></li>
												<li><a href="#">Landscape Design</a></li>
												<li><a href="#">Furniture Design</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Footer Single Box -->
								<!-- Footer Single Box -->
								<div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-12 hidden-sm">
									<div class="fotter-single-area">
										<h4>Site Link</h4>
										<div class="footer-menu">
											<ul>
												<li><a href="#">Home</a></li>
												<li><a href="#">About</a></li>
												<li><a href="#">Services</a></li>
												<li><a href="#">Team</a></li>
												<li><a href="#">Projects</a></li>
												<li><a href="#">Faq</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Footer Single Box -->
								<!-- Footer Single Box -->
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="fotter-single-area">
										<h4>Recent Post</h4>
										<div class="post-area">
											<div class="post-single">
												<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem</p>
												<a href="#">By Nawaz Sharif, 3rd March, 12.30 pm</a>
											</div>
											<div class="post-single">
												<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem</p>
												<a href="#">By Nawaz Sharif, 3rd March, 12.30 pm</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Footer Single Box -->
							</div>
						</div>
					</div>
				</div>
				<!-- Footer Top Area Start -->
				<!-- Footer Bottom Area Start -->
				<div class="footer-bottom black-bg">
					<p>Copyright &copy; 2017 <a href="#"> HasTech. </a>All Rights Reserved.</p>
				</div>
				<!-- Footer Bottom Area End -->
			</footer>
        </div>



        <script src="{{ ('../assets/common/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ ('../assets/common/js/bootstrap.min.js') }}"></script>
        <script src="{{ ('../assets/common/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ ('../assets/common/js/ajax-mail.js') }}"></script>
        <script src="{{ ('../assets/common/js/plugins.js') }}"></script>
        <script src="{{ ('../assets/common/js/main.js') }}"></script>
    </body>
</html>            