{% set howweork = craft.entries.section('howWeWork').all() %}
{% if howweork|length %}
{% for serviceentry in howweork %}
{% set workdtl = serviceentry.workFlow.all() %}
<section class="working-area pb-130 pt-70">
					<div class="container">
					<h3>How we work</h3>
						<!-- Single Working Way -->
						{% for key, worksteps in workdtl %}
						<div class="working-single">
							<div class="working-titel">
								{% if worksteps.phaseIcon|length %}
                                {% set image = worksteps.phaseIcon.one() %}
								<img src="{{ image.getUrl() }}" alt="{{ image.title }}">
								{% endif %} 
								<h4>{{worksteps.workPhaseName}}</h4>
							</div>
							<div class="working-text">
								<p>{{worksteps.phaseContent}} </p>
							</div>
							<span class="numbering">0{{key+1}}</span>
						</div>
						{% endfor %}
						<!-- Single Working Way -->
						
					</div>
				</section>
				{% endfor %}
				{% endif %}