{% set firstSegment = craft.app.request.getSegment(1) %}
<div class="header-area" id="sticky-header">
					<nav  class="navbar">
						<div class="container">
							
							<div class="">
								<div class="main-menu ">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
										<a class="navbar-brand" href="{{ siteUrl }}"><img src="../assets/common/img/icon/logo.png" alt="logo" class="img-responsive"></a>
									</div>
									<div class="collapse navbar-collapse" id="navigation">
										<ul class="nav navbar-nav navbar-right">
											<li class="{{ firstSegment == '' ? 'active' }}"><a href="http://{{ siteUrl }}">home</a></li>
											<li class="{{ firstSegment == 'about' ? 'active' }}"><a href="http://{{ url('about') }}">about Us</a></li>
											<li class="{{ firstSegment == 'service' ? 'active' }}"><a href="http://{{ url('service') }}">service</a></li>
											
											<li class="{{ firstSegment == 'blog' ? 'active' }}"><a href="http://{{ url('blog') }}">Blog</a></li>
											<li class="{{ firstSegment == 'contact-us' ? 'active' }}"><a href="http://{{ url('contact-us') }}">contact</a></li>
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</nav>
				</div>